.pageTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-left: 200px; */
    /* padding-top: 20px; */
    color: aliceblue;
   

  }

  .logoContainer{
    width: 270px;
    height: 200px;
    margin-top: 7px;
  }
  .log{
    width: 100%;
    object-fit: contain;
    object-position: center;
  }