.pageTitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0px;
  padding-top: 20px;
  color: aliceblue;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBm9LhpRcHmoSnSdeDNXtedb8AW3_bgd8HYw&usqp=CAU);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 85% 15%;

}

.logoContainer {
  width: 270px;
  height: 200px;
  margin-right: 50px;
  margin-top: 7px;
  background-color: transparent;
}
.log {
  width: 100%;
  object-fit: contain;
  object-position: center;
  background-color: transparent;
}
.titleH1 {
  background-color: transparent;
  padding-left: 20px;
}

@media (max-width: 700px) {
  .pageTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
  }
  .logoContainer {
    margin: 0px;
  }
  .titleH1 {
 
    padding: 0px;
  }
}
