.navBar {
  display: flex;
  flex-direction: column;
}
.btnNavbar {
  background-color: transparent; 
  color: aliceblue;
  margin-left: 20px;
  border-style: none;
  font-weight: bold;
}
.btnNavbarDp{
  font-size: 10px;
}
.dropboxnavBar{
  border-style: none;
  border: none;
  font-size: 100%;
  border-image: none;
  
}

.navBarButtons {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 20px; */
}


.rightButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.leftButtons {
  display: flex;
  align-items: center;
}
.logInput {
  margin-right: 5px;
  padding-left: 5px;
}

.loginIconLoggedIn {
  color: red;
  font-size: 40px;
  margin-right: 15px;
}

.loginIconLoggedOut {
  color: rgb(114, 187, 114);
  font-size: 40px;
  margin-right: 15px;
}
.townList{
  display: flex;
  flex-direction: column;
  margin-top: 6px;
}
.townDataItems{
  width: 300px;
  display: flex;
  flex-direction: column;
  border: solid 2px white;
  padding-left: 5px;
  padding-bottom: 5px;
}
.findByTown{
  display: flex;
  margin-left: 20px;
}
.inputFindTown{
  height: 20px;
  margin-top: 6px;
}

.btnFindTown{
  display: flex;
  align-items: flex-start;
  width: 40px;
  height: 40px;
  background-color: transparent; 
  color: aliceblue;
  border-style: none;
  font-weight: bold;
  margin-bottom: 15px;
}
.btnFindTown img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

