.navBar {
  display: flex;
  flex-direction: column;
}
.btnNavbar {
  background-color: transparent;
  color: aliceblue;
  margin-left: 20px;
  border-style: none;
  font-weight: bold;
  cursor: pointer;
}
.btnNavbarDp {
  font-size: 10px;
}
.dropboxnavBar {
  border-style: none;
  border: none;
  font-size: 100%;
  border-image: none;
}

.navBarButtons {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 20px; */
}

.rightButtons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.leftButtons {
  display: flex;
  align-items: center;
  margin-left: 12px;
}
.logInput {
  margin-right: 5px;
  margin-right: 5px;
  padding-left: 15px;
}

.loginIconLoggedIn {
  display: flex;
  color: greenyellow;
  font-size: 25px;
  margin-right: 15px;
  margin-left: 15px;
  cursor: pointer;
}

.loginIconLoggedOut {
  display: flex;
  color: rgb(114, 187, 114);
  font-size: 25px;
  margin-right: 15px;
  margin-left: 15px;
  cursor: pointer;
}
.townList {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
}
.townDataItems {
  width: 300px;
  display: flex;
  flex-direction: column;
  border: solid 2px white;
  padding-left: 5px;
  padding-bottom: 5px;
}
.findByTown {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.inputFindTown {
  height: 20px;
  width: 50%;
}

.btnFindTown {
  display: flex;
  align-items: flex-start;
  width: 75px;
  height: 60px;
  background-color: transparent;
  color: aliceblue;
  border-style: none;
  font-weight: bold;
}
.btnFindTown img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.dataLogin {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.errorMesageLogIn {
  padding-left: 27px;
}
.btnLogin {
  display: flex;
  margin-right: 5px;
  font-size: 25px;
  width: 200px;
  justify-content: center;
}
.loginName {
  text-align: end;
  background-color: transparent;
  color: aliceblue;
  margin-left: 20px;
  border-style: none;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 700px) {
  .hide {
    display: none;
  }
  .btnLogin {
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-align: center;
    
  }
  .dataLogin {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .findByTown {
    width: 90%;
  }
  .loginIconLoggedOut {
    display: flex;
    width: 20%;
  }
  .loginIconLoggedIn {
    display: flex;
    width: 20%;
  }
  .leftButtons {
    display: flex;
    justify-content: space-around;
  }
  .btnFindTown {
    display: flex;
    align-items: flex-start;
    width: 65px;
    height: 50px;
    background-color: transparent;
    color: aliceblue;
    border-style: none;
    font-weight: bold;
  }
  .rightButtons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .inputFindTown {
    height: 20px;
  }
}
