.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

*{
  margin: 0px;
  padding: 0px;
  background-color: rgb(190, 158, 110);


  
}
button{
  background-color: cornsilk;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  padding: 7px;


}

input::placeholder{
 color: white;
}
text::placeholder{
  color: white;
}
textarea::placeholder{
  color: white;
}
textarea{
  color: white;
}
input{
  color: white;
}
h1{
  color: white;
}
h2{
  color: white;
}
p{
  color: white;
}
a{
  color: aqua;
}

label{
  color: white;
}
select{
  color: white;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.initStyles{
  display: flex;
  flex-direction: column;
  
  /* background-color: red; */
}

.mapAndDetail{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
}
.mapView {
  display: flex;
  width: 60%;
  height: 80vh;
  margin-left: 20px;
  margin-right: 20px;
  
}

.detailView {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;

  width: 45%; 
  height: 80vh;
}
.ChurchDetail{
  display: flex;
  width: 40%;
  height: 80%;
  
}